.form-group {
    position: relative;

    &.has-float-label {
        .form-control {
            &:focus {
                border-color: $tmpcolor;
                box-shadow: none !important;
            }
        }
    }

    &.float-custom-select {
        .select2-container {
            display: block;
        }
    }

    .select2-container {
        font-size: 14px;
        display: block;
        .select2-selection--single {
            height: 35px;
            border-color: #ced4da;

            .select2-selection__rendered {
                line-height: 35px;
            }
        }
    }

    .select2-results__options {
        font-size: 14px;
    }

    // .float-custom-select {
    //     height: calc(1.5em + 1.25rem + 2px);
    //     padding: 0.75rem 0.75rem;
    //     border: 0;
    //     border-radius: 0;
    //     border-bottom: 1px solid #ced4da;
    // }

    .has-float-label {
        .form-control {
            height: calc(1.5em + 1rem + 2px);
            padding: 0.75rem 0.75rem;
            border: 0;
            border-radius: 0;
            border-bottom: 1px solid #ced4da;
            &:focus {
                border-color: $tmpcolor;
                box-shadow: none !important;
            }

            &:placeholder-shown {
                &:not(:focus)+* {
                    top: 0.8em;
                    font-size: 100%;  
                }
            }
        }
    }   

    &.floating-input {
        &.with-icon {
            label {
                left: 36px;
            }

            .form-control {
                padding-left: 36px;
            }
        }

        label {
            position: absolute;
            top: 13px;
            left: 0;
            font-size: 16px;
            color: #9F9F9F;
            font-weight: 300;
            cursor: text;
            @extend .transition;

            .required {
                color: $red;
            }
        }
    
        &.focused {
            label {
                top: -5px;
                font-size: 13px;
            }
    
            .progress-border {
                &:before {
                    width: 100%;
                    opacity: 1;
                }
            }
        }

        .form-control {
            border: 0;
            // border-bottom: 2px solid rgba(black, 0.29);
            border-bottom: 2px solid #e2e2e2;
            border-radius: 0;
            padding-left: 0;
            padding-right: 30px;
            // height: calc(2em + 0.75rem + 2px);
            height: calc(2rem + 0.75rem + 2px);
            font-size: 16px;
            font-weight: 300;
            color: #9F9F9F;
            background: $white !important;
            @extend .transition;
        
            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                -webkit-box-shadow: 0 0 0 64px white inset !important;
        
                ~ label {
                    top: -5px;
                    font-size: 13px;
                }
            }
        
            &:focus {
                box-shadow: inherit;
            }
        
            &.filled {
                ~ .progress-border {
                    &:before {
                        background: lightgreen;
                    }
                }
            }
        }

        .progress-border {
            position: relative;
            display: block;
            &:before {
                position: absolute;
                content: "";
                left: 0;
                bottom: 0;
                height: 2px;
                width: 0;
                // background: $tmpcolor;
                background: $tmpcolor;
                opacity: 0;
                @extend .transition;
            }
        }
    }
}