.banner-area {
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.search-wrapper {
    p {
        font-size: 20px;
    }
}

.search-input-wrapper {
    display: flex;
    justify-content: center;

    .input-group {
        max-width: 50%;
        width: 50%;
        @extend .transition;

        &.focused,
        &.filled {
            background: transparent;
            max-width: 80%;
            width: 80%;

            .input-group-append {
                .btn-outline-secondary {
                    svg {
                        color: $tmpcolor;
                    }
                }
            }
        }
    }

    .form-control {
        height: 55px;
        padding: .5rem 1.7rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: 35px;
        border: 1px solid $white;
        box-shadow: none;
    }

    .input-group-append {
        .btn-outline-secondary {
            background: $white;
            color: $white;
            border-color: $white;

            svg {
                color: $body-color;
            }
        }

        .btn {
            border-top-left-radius: 0;
            border-top-right-radius: 35px;
            border-bottom-right-radius: 35px;
            border-bottom-left-radius: 0;
            padding: .5rem 1.3rem;
            border: 0;

            &:focus {
                background: $white;
                box-shadow: none !important;
                border: 0;
            }
        }
    }
}

@media screen and (min-width: 1600px) {
    .search-input-wrapper {    
        .input-group {
            max-width: 30%;
            width: 30%;
        }
    }
}