/*-------------------------------
		| CREATE CONTENT |
---------------------------------*/
.topics-category-holder {
	position: relative;
  
	.topics-category-title {
		h3 {
			font-size: 24px;
			color: $body-color;
			font-weight: 600;
			padding-bottom: 10px;
		}
	}
  
	.topics-category-items {
		ul {
			padding: 0px;
			margin: 0px;
  
			li {
				list-style: none;
				padding: 8px 0px;
				border-bottom: 1px dotted #909090;
		
				&:before {
					font-family: 'FontAwesome';
					content: "\f016";
					color: #909090;
					font-size: 14px;
				}

				&:hover {
					border-bottom: 1px dotted $tmpcolor;

					&:before {
						color: $tmpcolor;
					}

					a {
						color: $tmpcolor;
					}
				}
	
				a {
					padding-left: 5px;
					color: #909090;
				}

				&:last-child{
					border-bottom: 0px;
				}
			}
	  	
		}
	}
}
  
  //Categories
  
.topics-category-categories {
	.nav-pills {
  	  	.nav-link.active,
	  	.show>.nav-link {
			background-color: $white;
			color: $body-color;
			border-left: 2px solid $tmpcolor;
	
			&:hover {
			color: $body-color;
			}
	  	}
	}
  
	.nav-link {
		position: relative;
		border-left: 2px solid $white;
		border-radius: 0;
		font-weight: 500;
		padding: .5rem 1rem;
		color: $body-color;

		&:hover {
			color: $tmpcolor;
		}
  
		@include media-breakpoint-up(md) {
			border-right: 1px solid $gray-300;
		}
  
		.article-number {
			position: absolute;
			display: block;
			background: $tmpcolor;
			color: $white;
			top: 7px;
			right: 10px;
			padding: 1px 5px;
			font-weight: 300;
			border-radius: 5px;
		}
	}
}
  
  //Arichive Block
.archive-block {
	text-align: center;
  
	a {
		display: block;
		width: 100%;
		padding: 30px 20px;
		border: 1px solid $body-color;
		font-size: 18px;
		font-weight: 500;
		border-radius: 5px;
		color: $body-color;

		&:hover,
		&:active {
			background: $body-color;
			color: $white !important;
		}
	}
}
  
.item-list {
	position: relative;
	background: $white;
  
	.list-overlay {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba($white, 0.9);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		color: $body-color;
  
	  	.l-text {
			font-size: 18px;
			margin-top: 10px;
	  	}
	}
  
}
  
.m-loader {
	position: relative !important;
	width: 40px !important;
  
	&:before {
		content: '';
		display: block;
		padding-top: 100%;
	}
}
  
.m-circular {
	animation: rotate 1.5s linear infinite;
	height: 100%;
	transform-origin: center center;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
  
.path {
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	stroke: $tmpcolor;
	animation: dash 1.5s ease-in-out infinite;
	stroke-linecap: round;
}
  
@keyframes rotate {
	100% {
	  transform: rotate(360deg);
	}
}
  
@keyframes dash {
	0% {
	  stroke-dasharray: 1, 200;
	  stroke-dashoffset: 0;
	}
  
	50% {
	  stroke-dasharray: 89, 200;
	  stroke-dashoffset: -35px;
	}
  
	100% {
	  stroke-dasharray: 89, 200;
	  stroke-dashoffset: -124px;
	}
}

.category-box {
	position: relative;
	overflow: hidden;
	border: 1px solid transparent;
	border-radius: 6px;
	@extend .transition;

	&:before,
	&:after {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: rgba($tmpcolor, 0.1);
		position: absolute;
		content: "";
		opacity: 0;
		@extend .transition;
	}

	&:before {
		top: -80px;
		left: 15px;
	}

	&:after {
		bottom: -80px;
		right: 15px;
	}

	&:hover {
		.icon-box {
			background: rgba($tmpcolor, 1);
			box-shadow: 0 0 15px rgba($body-color, 0.4);
		}

		border-color: $tmpcolor;

		&:before,
		&:after {
			opacity: .75;
			transform: scale(8);
			transition-delay: .15s;
		}
	}

	.icon-box {
		position: relative;
		background: rgba($tmpcolor, 0.8);
		display: inline-flex;
		justify-content: center;
		align-items: center;
		height: 50px;
		width: 50px;
		border-radius: 50%;
		z-index: 1;
		@extend .transition;

		
		svg {
			color: $white;
			width: 20px;
			height: 20px;
		}
	}

	.category-box-content {
		position: relative;
		z-index: 1;
	}

	.category-title {
		font-size: 20px;
	}

	p {
		margin-bottom: 10px;
	}
}

// Inner Search Area
.inner-search-area {
	background: rgba($tmpcolor, 0.12);

	.search-input-wrapper {
		justify-content: flex-end;
	}
}

// Sidebar Menu
.sidebar-wrapper {
	.sidebar-title {
		font-size: 24px;
		padding-bottom: 10px;
	}
}


// FAQ
.faq-page-area {
	.card-header {
		a {
			color: $body-color;
		}

		&:hover {
			a {
				color: $tmpcolor;
			}
		}
	}

	.accordion > .card:not(:last-of-type) {
		border-bottom: 1px solid rgba(0, 0, 0, 0.125);
	}
}

.card-header {
	a[aria-expanded="true"]{
		.fa-angle-down {
			&:before {
				content: "\f106";
			}
		}
	}
}
