.section-title {
    position: relative;
    font-size: 50px;
    font-weight: 600;
    color: $body-color;

    &.bottom-bar {
        &:before {
            position: absolute;
            content: "";
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 0);
            background: $tmpcolor;
            height: 2px;
            width: 50px;
        }
    }
}

.bg-light {
    background: $light-bg;
}

.divider {
    height: 4px;
    background: #fff;
}

.transition {
    transition: all .4s ease-in-out;
}

.hyperlink {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}

a {
    @extend .transition;

    &:focus {
        outline: 0;
        outline: none;
    }
}

.font-20 {
    font-size: 20px;
}

.font-18 {
    font-size: 18px;
}

.bg-cover {
    background-size: cover;
}

.h-100vh {
    height: 100vh;
}

.wow {
    visibility: hidden;
}

.border-bottom {
    border-bottom: 1px solid #555555;
}

.ripple-btn {
    position: relative;
    overflow: hidden;
    small {
        &.circle-effect {
            position: absolute;
            background: #fff;
            transform: translate(-50%,-50%);
            pointer-events: none;
            border-radius: 50%;
            animation: ripple-animate 1s linear infinite;
            z-index: 1;
        }
    }
}

.ripple-btn-2 {
    position: relative;
    overflow: hidden;
    small {
        &.circle-effect {
            position: absolute;
            background: $tmpcolor;
            transform: translate(-50%,-50%);
            pointer-events: none;
            border-radius: 50%;
            animation: ripple-animate 1s linear infinite;
            z-index: 1;
        }
    }
}

.ripple-btn-danger {
    position: relative;
    overflow: hidden;
    small {
        &.circle-effect {
            position: absolute;
            background: $red;
            transform: translate(-50%,-50%);
            pointer-events: none;
            border-radius: 50%;
            animation: ripple-animate 1s linear infinite;
            z-index: 1;
        }
    }
}

@keyframes ripple-animate {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }
    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}